{% assign publications = include.publications %}
<div class="my-3 p-0 bg-white shadow-sm rounded-xl">
    <h6 class="border-bottom border-gray p-3 mb-0">
        {% if include.title %}{{ include.title }}{% else %}<i class="fas fa-star"></i> <span data-lang="en">Selected Recent Publications</span><span data-lang="zh">近期代表性论文</span>{% endif %}
        <a href="{{ 'publications' | relative_url }}">(<span data-lang="en">view all</span><span data-lang="zh">查看全部</span> <i class="fas fa-angle-double-right"></i>)</a>
    </h6>
    {% for item in publications limit:include.limit %}
        {% include widgets/publication_item.html item=item first=false last=false %}    
    {% endfor %}
    <h6 class="d-block p-3 mt-0 text-right">
        <a href="{{ 'publications' | relative_url }}"><span data-lang="en">All publications</span><span data-lang="zh">全部论文</span> <i class="fas fa-angle-double-right"></i></a>
    </h6>
</div>
